a.dash:link,a.dash:visited,a.dash:active {text-decoration: none;}
.general {color:black}
.tooltip {border-bottom: 1px dashed #999;}
.span_general { text-align:left;
	cursor:pointer;
	border-bottom-style:dashed;
	border-width:thin}
h3 { margin-bottom: 0.5em; }
.small { font-size:small }
.own_package { color:black !important;
	text-decoration: none !important; }
.uploader { color:blue !important;
	text-decoration: none !important; }

.bpo, .oldstable-bpo, .oldstable-bpo-sloppy, .oldoldstable-bpo, .oldoldstable-bpo-sloppy { color:#7400ff }
.bpo-outdated { background-color: #ffe87c; }
.delayed { color:#ff5f89 }
.incoming, .stable-incoming, .testing-incoming, .experimental-incoming { color:#ff9c00 }
.new, .experimental-new { color:#616161 }
.oldoldstable { color:#aaaa00 }
.oldstable { color:#00aa00 }
.stable { color:#00aadd }
.testing { color:#b400ff }
.nmu { color:red }
.wrongversion { color:red }
.proposed-updates, .testing-proposed-updates { color:#2222aa; font-style:italic; }
.proposed-updates-new { color:#4444bb; font-style:italic; }
.unstable { color:green }
.experimental { color:#2222aa }
.security, .oldstable-security, .oldoldstable-security, .testing-security { color:red; font-style:italic; }

.vcs_OK { }
.vcs_COMMITS { color:green }
.vcs_NEW { color:green }
.vcs_OLD { color:red }
.vcs_UNREL { color:red }
.vcs_ERROR { color:red }

.uptodate { color:green }
.behind { color:#ff00ff }
.ahead { color:#2222aa }
.error { color:red }

.packagetable {
	font-size:small;
	border-collapse: collapse;
}

.packagetable th {
	border: 1px solid #333333;
	color: green;
	padding: 2px;
	text-align: center;
	vertical-align: middle;
}
.packagetable td {
	border: 1px solid #333333;
	padding: 2px;
	text-align: center;
	vertical-align: middle;
}
.packagetable td:first-child {
	max-width: 16em;
}
.packagetable > tbody > tr:hover > td {
	background-color: #FEE;
}

#settings {
	margin-top: 1em;
	margin-bottom: 1em;
}

#settings .head{
	color: green;
	font-weight: bold;
}

#settings input {
	white-space: nowrap;
}
#settings div {
    display: inline-block;
    vertical-align: top;
    margin-right:1em;
    margin-bottom:1em;
}

a.buildd-state span {
    border-radius: .5ex;
}

a.buildd-state:link {
    color: inherit;
    text-decoration: none;
}

a.buildd-state:visited {
    color: inherit;
    text-decoration: none;
}

.buildd-state-Installed,
.buildd-state-Uploaded {
    // Original buildd style: background-color: #7fffd4;
    color: #00aa00
}

.buildd-state-Building,
.buildd-state-Not-For-Us,
.buildd-state-Auto-Not-For-Us,
.buildd-state-Dep-Wait,
.buildd-state-Needs-Build,
.buildd-state-BD-Uninstallable {
    color: olive;
}

.buildd-state-Needs-Build {
    background-color: #eeeedd;
}

.buildd-state-Failed,
.buildd-state-Failed-Removed,
.buildd-state-Build-Attempted,
.buildd-state-Maybe-Failed {
    background-color: #ffc0cb;
}

.buildd-state-Maybe-Successful,
.buildd-state-Built {
    color: green;
}


